body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-bar {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);


}

.nav--logo_text {
  margin-right: auto;
  color: white;

}

.nav--title{
  color: white;
}

.nav--logo {
  margin-right: 5px;

}